[build]
  command = "npm run build --filter=@botbot/web"
  publish = "apps/web/.next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"
  NPM_VERSION = "10"

[functions]
  node_bundler = "esbuild"
